@model ProductVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.Product.Id != 0 ? "Update" : "Create") Book</h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <label asp-for="Product.ISBN"></label>
                    <input asp-for="Product.ISBN" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.Price"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.SalePrice"></label>
                    <input asp-for="Product.SalePrice" class="form-control" />
                    <span asp-validation-for="Product.SalePrice" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Amount"></label>
                    <input asp-for="Product.Amount" class="form-control" />
                    <span asp-validation-for="Product.Amount" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.BookId"></label>
                    <select asp-for="Product.BookId" asp-items="@Model.BookList" id="bookSelector" class="form-select">
                        <option disabled selected>--Select book--</option>
                    </select>
                    <span asp-validation-for="Product.BookId" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.FormatId"></label>
                    <select asp-for="Product.FormatId" asp-items="@Model.FormatList" class="form-select">
                        <option disabled selected>--Select format--</option>
                    </select>
                    <span asp-validation-for="Product.FormatId" class="text-danger"></span>
                </div>
                <div class="col-12">
                    @if (Model.Product.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width: 150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" style="width: 150px">Create</button>
                    }
                    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>

            </div>
        </div>
    </div>


</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(function () {
            $("#bookSelector").select2();
        });
    </script>
}